<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b5ba371b-6486-412d-845e-7bd8664f8fbd/resourceGroups/BugTrackerDB1/providers/Microsoft.Web/sites/BugTrackerNotStatic</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bugtrackernotstatic.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>db6b196d-e5cb-465f-8312-dd8b63fd3937</ProjectGuid>
    <PublishUrl>https://bugtrackernotstatic.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BugTrackerNotStatic</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>